body {
    background-image: url("../images/philippine_island.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

h1 {
    text-align: center;
    
}

li {
    list-style-type: none;
    font-size: 22px;
    text-align: center;
}