body {
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

header {
    text-align: center;
}

a::after {
    content: '';
    font-size: 60%;
    font-weight: bold;
    padding: 65px 6px;
    align-content: right;
}

nav {
    border-bottom: 2px solid black;
}

h1 {
    text-align: center;
}

ol {
    list-style-type: none;
    padding-left: 65px;
}

li {
    display: inline-block;
}

.content {
    padding-left: 15px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-rows: max-content 300px 1fr;
}

.content p {
    text-align: center;
}

.card img {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 100%;
}

footer input {
    margin-left: 15px;
    margin-right: 20px;
    font-size: 14px;
}

footer button {
    font-size: 14px;
}

footer {
    padding: 15px;
    border: 1px solid darkgray;
    display: flex;
}

@media screen and (max-width: 910px) {
    .card img {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 60%;
    }
}